[user]
	name = Gael Aguiar
	email = gael.aguiar@kymasoft.com
[credential]
	helper = cache
[alias]
	lg = log --decorate --graph --oneline
	lga = log --all --decorate --graph --oneline
	st = status -b --short
	lsm = ls-files -m
	diffm = diff --diff-filter=M
	subu = submodule update --init --recursive
[core]
	excludesfile = ~/.cvsignore
	pager = less -x1,5
    editor = vim
